version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: webcursos-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  webcursos-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: kaiquemgovani/kaiquemg:latest
    container_name: webcursos-app
    ports:
      - "8080:8080"
    environment:
      RABBITMQ_HOST: rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  rabbitmq-data:
